<!DOCTYPE html>
<html>
<head>
  <title>JackBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center" style="background-color: black">
	<nav class='navbar' style="display: inline-block;margin: 0;">
		<div class='navbar-inner' >
			<ul class= 'nav navbar-nav'>
				<li><%= link_to image_tag("/image/shopicon.png", :width => "40", :height => "40" ), 
											{:action => 'index', :controller => 'posts'} %>
				</li>
				<li> <%= image_tag("/image/title.png") %></li>
				<% if current_user %>
					<li><%= link_to "Log Out  #{current_user.username}", logout_path %></li>
				<% else %>
					<li><%= link_to image_tag("/image/login.jpg", :width => "40", :height => "40"), login_path %></li>
				<% end %>	

			</ul>
		</div>
	</nav>

</div>
<%= yield %>

</body>
</html>
