<!DOCTYPE html>
<html>
<head>
  <title>JackBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center" style="background-color: black">
				<%= link_to image_tag("/image/shopicon.png", :width => "40", :height => "40" ), {:action => 'index', :controller => 'posts'} %>
				<%= label_tag "Sexshop","Sexshop", :class => "inherit", :style => "width: 500px;color : white" %>
				<% if current_user %>
					<%= link_to "Log Out  #{current_user.username}", logout_path %>
				<% else %>
					<%= link_to image_tag("/image/login.jpg", :width => "40", :height => "40"), login_path %>
				<% end %>
</div>
<%= link_to "Add Product", new_post_path %>
<div align="center">
<%= yield %>
</div>
</body>
</html>
